@charset "utf-8";
/* CSS Document */

nav{
	display:none;
	font-weight:300;
}

nav ul{
	padding:0;
	margin:0;
	list-style: none;
}

nav li{
	position:relative;
	display: inline-block;
}

/*==============level 1==============*/
nav li a{
	display:block;
	width:100%;
	color: rgba(90,90,90,1);
	text-decoration:none;
	text-align:center;
}

nav li a:hover{
	color:rgba(90,90,90,1);
	text-decoration: underline;
}

/*==============level 2==============*/
nav li ul{
    position: absolute;
	display:none;
    left: 0;    
    margin: 0;
}

nav ul li:hover > ul{
    display: block;
}

nav ul li:hover > a{
    color: rgba(90,90,90,1);
}

nav ul ul a{
	width:200px;
	margin:0;
	text-align: left;
    color: rgba(90,90,90,1);        
    background: rgba(255,255,255,1);
}

nav ul ul a:hover{
	color: rgba(255,255,255,1);     
    background: rgba(90,90,90,.5);
}

/*==============level 3 and more==============*/
nav ul ul li:hover > ul{
    display: block;
    position: absolute;
    top: 0;    
    left: -100%;
}

@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 1200px) {
nav{
	display: inline-block;
}

nav li a{
	padding:25px 30px;
}

}