/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }



/* Header Style */
.main,
.container > header {
	margin: 0 auto;
	padding: 2em;
}

.container {
	height: 100%;
}

.container > header {
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.3;
	padding: 0 0 0.6em 0.1em;
}

/* Main Content */
.main {
	max-width: 69em;
}

.column {
	float: left;
	width: 50%;
	padding: 0 2em;
	min-height: 300px;
	position: relative;
}

.column:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
}

.column p {
	font-weight: 300;
	font-size: 2em;
	padding: 0;
	margin: 0;
	text-align: right;
	line-height: 1.5;
}


.demo-5 body {
	background: #fffbd6;
}


div.bb-custom-grid article img{
	width: 100%;
}

.bb-bookblock {
	width: 100%;
}

div.bb-custom-grid {
	list-style: none;
	margin: 0 auto 30px auto;
	padding: 0;
	width: 100%;
	max-width: 700px;
	display: block;
}

div.bb-custom-grid:before,
div.bb-custom-grid:after {
	content: " ";
    display: table;
}

div.bb-custom-grid:after {
	clear: both;
}
/* end clearfix hack */

div.bb-custom-grid article{
	float: left;
	width: 77%;
	padding: 10px 20px 50px 20px;
	background: #fff;
	position: relative;
	box-sizing: content-box;
	margin-bottom: 20px;
	box-shadow: 0 3px 2px rgba(0,0,0,0.2);
}

div.bb-custom-grid article a {
	display: block;
}

div.bb-custom-grid article h3 {
	color: #9a9b92;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 35px;
	letter-spacing: 1px;
}

div.bb-custom-grid nav {
	text-align: center;
	margin-top: 12px;
	padding-bottom: 5px;
}

div.bb-custom-grid nav span {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #f0f0f0;
	margin: 3px;
	cursor: pointer;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.2), 0 2px 1px rgba(255,255,255,0.9);
}

div.bb-custom-grid nav span.bb-current {
	background: #b1b1b1;
}

div.prev-next{
	margin: 0;
	display: inline-block;
	float: left;
}

.bb-prev{
	padding: 0 5px 0 0;
}

.bb-next{
	padding: 0 0 0 5px;
}

div.prev-next i{
	font-size: 23px;
	color: #b1b1b1;
	-ms-transform: translate(0, 50%); /* IE 9 */
    -webkit-transform:  translate(0, 50%); /* Safari */
    transform: translate(0, 50%); /* Standard syntax */
}

div.prev-next i:hover{
	color: #6b6b6b;

}


@media screen and (max-width: 46.0625em) {
	.column {
		width: 100%;
		min-width: auto;
		min-height: auto;
		padding: 1em; 
	}

	.column p {
		text-align: left;
		font-size: 1.5em;
	}

	.column:nth-child(2) {
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	}
}

@media screen and (max-width: 768px) {

	.codrops-icon span {
		display: none;
	}

	div.prev-next{
		display: none;
	}

	div.bb-custom-grid article{
		width: 100%;
		padding: 10px 10px 50px 10px;
	}
	.main, .container > header{
		padding: 2em 2em 2em 1em;
	}
}
